In [1]:
#Задание 1

In [1]:
import pandas as pd
df = pd.read_csv('productstar_df.csv', index_col=0)

In [2]:
import numpy as np

In [3]:
df_compl = df[df['order_state'] == 'complete']

In [8]:
df_compl['shipped_at'] = pd.to_datetime(df_compl['shipped_at'])
df_compl['completed_at'] = pd.to_datetime(df_compl['completed_at'])

<ipython-input-8-df7e72e481ab>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['shipped_at'] = pd.to_datetime(df_compl['shipped_at'])
<ipython-input-8-df7e72e481ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['completed_at'] = pd.to_datetime(df_compl['completed_at'])

In [9]:
df_compl['day'] = df_compl['completed_at'].dt.round('D')
df_compl

<ipython-input-9-150fd99bcfc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['day'] = df_compl['completed_at'].dt.round('D')

,shipped_at,order_id,item_total,order_state,store_id,retailer_id,promo_total,total_weight,completed_at,city_id,user_id,item_count,day
id,,,,,,,,,,,,,
0,2018-05-20 01:42:14+00:00,557,3243.119268,complete,75,8,-200.0,6085,2018-05-19 09:16:54+00:00,1,9016,13,2018-05-19 00:00:00+00:00
2,2017-06-14 03:26:44+00:00,3103,12018.548693,complete,62,8,0.0,179750,2017-06-12 03:52:36+00:00,1,9041,46,2017-06-12 00:00:00+00:00
3,2017-06-12 00:16:40+00:00,3112,2467.022803,complete,62,8,0.0,9100,2017-06-11 01:01:29+00:00,1,9041,6,2017-06-11 00:00:00+00:00
4,2017-05-31 05:23:53+00:00,3201,1461.915164,complete,68,15,0.0,5948,2017-05-30 22:59:38+00:00,1,9041,8,2017-05-31 00:00:00+00:00
5,2017-02-13 00:23:00+00:00,3204,3351.866708,complete,62,8,0.0,1279110,2017-02-11 07:29:45+00:00,1,9131,6,2017-02-11 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474952,2018-12-30 06:55:32+00:00,3642200,3689.268464,complete,131,22,0.0,16320,2018-12-29 09:02:22+00:00,1,86637,1,2018-12-29 00:00:00+00:00
474954,2019-01-05 23:01:39+00:00,3642207,2261.725542,complete,63,8,0.0,39100,2019-01-05 11:07:53+00:00,1,67812,6,2019-01-05 00:00:00+00:00
474956,2019-01-23 05:19:03+00:00,3642213,3621.669987,complete,75,8,0.0,48972,2019-01-22 11:44:37+00:00,1,22096,9,2019-01-22 00:00:00+00:00
474957,2018-12-26 09:02:33+00:00,3642227,3089.668218,complete,73,8,0.0,25710,2018-12-26 04:38:16+00:00,1,9424,9,2018-12-26 00:00:00+00:00
474958,2018-12-21 09:49:58+00:00,3642244,4110.140282,complete,136,16,0.0,30675,2018-12-21 06:27:28+00:00,1,131806,19,2018-12-21 00:00:00+00:00

In [10]:
df_compl_12_18 = df_compl[(df_compl['day']>='2018-12-01') & (df_compl['day']<'2019-01-01')]
df_compl_12_19 = df_compl[(df_compl['day']>='2019-12-01') & (df_compl['day']<'2020-01-01')]

In [11]:
df_compl_12_19[['item_total']].sum() / df_compl_12_18[['item_total']].sum()

item_total    4.275924
dtype: float64

In [12]:
print(df_compl_12_19[['item_total']].sum())
print(df_compl_12_18[['item_total']].sum())

item_total    1.721078e+08
dtype: float64
item_total    4.025044e+07
dtype: float64

In [13]:
df_compl['month'] = df_compl['completed_at'].dt.month
df_compl['year'] = df_compl['completed_at'].dt.year

<ipython-input-13-0c94d677babe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['month'] = df_compl['completed_at'].dt.month
<ipython-input-13-0c94d677babe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['year'] = df_compl['completed_at'].dt.year

In [38]:
df_compl

,shipped_at,order_id,item_total,order_state,store_id,retailer_id,promo_total,total_weight,completed_at,city_id,user_id,item_count,day,month,year
id,,,,,,,,,,,,,,,
0,2018-05-20 01:42:14+00:00,557,3243.119268,complete,75,8,-200.0,6085,2018-05-19 09:16:54+00:00,1,9016,13,2018-05-19 00:00:00+00:00,5.0,2018.0
2,2017-06-14 03:26:44+00:00,3103,12018.548693,complete,62,8,0.0,179750,2017-06-12 03:52:36+00:00,1,9041,46,2017-06-12 00:00:00+00:00,6.0,2017.0
3,2017-06-12 00:16:40+00:00,3112,2467.022803,complete,62,8,0.0,9100,2017-06-11 01:01:29+00:00,1,9041,6,2017-06-11 00:00:00+00:00,6.0,2017.0
4,2017-05-31 05:23:53+00:00,3201,1461.915164,complete,68,15,0.0,5948,2017-05-30 22:59:38+00:00,1,9041,8,2017-05-31 00:00:00+00:00,5.0,2017.0
5,2017-02-13 00:23:00+00:00,3204,3351.866708,complete,62,8,0.0,1279110,2017-02-11 07:29:45+00:00,1,9131,6,2017-02-11 00:00:00+00:00,2.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474954,2019-01-05 23:01:39+00:00,3642207,2261.725542,complete,63,8,0.0,39100,2019-01-05 11:07:53+00:00,1,67812,6,2019-01-05 00:00:00+00:00,1.0,2019.0
474956,2019-01-23 05:19:03+00:00,3642213,3621.669987,complete,75,8,0.0,48972,2019-01-22 11:44:37+00:00,1,22096,9,2019-01-22 00:00:00+00:00,1.0,2019.0
474957,2018-12-26 09:02:33+00:00,3642227,3089.668218,complete,73,8,0.0,25710,2018-12-26 04:38:16+00:00,1,9424,9,2018-12-26 00:00:00+00:00,12.0,2018.0
474958,2018-12-21 09:49:58+00:00,3642244,4110.140282,complete,136,16,0.0,30675,2018-12-21 06:27:28+00:00,1,131806,19,2018-12-21 00:00:00+00:00,12.0,2018.0
day,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN

In [14]:
g = df_compl.groupby(['month', 'year'], as_index=False)[['item_total']].sum()

In [88]:
print(g)

    month    year    item_total
0     1.0  2017.0  8.192005e+06
1     1.0  2018.0  3.216289e+07
2     1.0  2019.0  6.199581e+07
3     1.0  2020.0  9.846898e+07
4     2.0  2017.0  1.036242e+07
5     2.0  2018.0  3.147069e+07
6     2.0  2019.0  6.519057e+07
7     3.0  2017.0  1.223699e+07
8     3.0  2018.0  3.744271e+07
9     3.0  2019.0  7.624931e+07
10    4.0  2017.0  1.186611e+07
11    4.0  2018.0  3.459899e+07
12    4.0  2019.0  6.758248e+07
13    5.0  2016.0  9.810620e+03
14    5.0  2017.0  1.184566e+07
15    5.0  2018.0  3.526819e+07
16    5.0  2019.0  7.652354e+07
17    6.0  2017.0  1.102380e+07
18    6.0  2018.0  3.104431e+07
19    6.0  2019.0  7.144612e+07
20    7.0  2016.0  7.470599e+03
21    7.0  2017.0  1.089280e+07
22    7.0  2018.0  3.024040e+07
23    7.0  2019.0  7.503241e+07
24    8.0  2017.0  1.484046e+07
25    8.0  2018.0  3.611081e+07
26    8.0  2019.0  8.622177e+07
27    9.0  2017.0  1.672382e+07
28    9.0  2018.0  4.491716e+07
29    9.0  2019.0  1.052001e+08
30   10.0  2017.0  1.710638e+07
31   10.0  2018.0  4.907649e+07
32   10.0  2019.0  1.374062e+08
33   11.0  2017.0  2.854414e+07
34   11.0  2018.0  4.650686e+07
35   11.0  2019.0  1.714555e+08
36   12.0  2016.0  3.779949e+06
37   12.0  2017.0  2.180501e+07
38   12.0  2018.0  4.018929e+07
39   12.0  2019.0  1.724373e+08

In [15]:
g1 = g[(g['year'] == 2018) & (g['month'] == 12)]
g2 = g[(g['year'] == 2019) & (g['month'] == 12)]

In [16]:
print(g1)
print(g2)

    month  year    item_total
38     12  2018  4.018929e+07
    month  year    item_total
39     12  2019  1.724373e+08

In [18]:
delta = (g2[['item_total']].sum()) / (g1[['item_total']].sum())

In [21]:
del_sel = (delta - 1)*100
print(round(del_sel,0))

item_total    329.0
dtype: float64